:root{
    /* color theme */
    --text: #8b8477;
    --text2: #ffa600;
    --background: ##003f5c;
    --border: #ffa600;
    --glow:  #ff6361;
    --gradient1: #853c0f;
    --gradient2: #58508d;
    --gradient3: #003f5c;

    /* grid dimentions */
    --gridwidth: 95%;
}

/* Body will be primary background and text formatting */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

/* all item in header are evenly spaced and centered vertically within container */
header {
    /* formating centering nested elements */
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* visuals */
    border-bottom: 15px double var(--gradient3);
    background-color: var(--gradient2);
    /* background-image: linear-gradient(
        var(--gradient1),
        var(--gradient2),
        var(--gradient3));  */
}
/* Elements within header || Potential consolidation? */
h1{
    font-size: 45px;
    color: var(--text2);
}

/* similar format to header, inversed gradiant and border */
footer{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* visuals */
    border-top: 15px double var(--gradient3);
    background-color: var(--gradient2);
    /* background-image: linear-gradient(
        var(--gradient3),
        var(--gradient2),
        var(--gradient1)); */
}
/* formating for header and footer lists */
ul{
    display: flex;
    /* flex-direction: column;      done when on phone screen*/
}
ul li {
    padding: 10px;
}
ul li a{
    font-size: 20px;
    color: var(--text2);
}

main{
    background-color: var(--gradient3);
}

/* h2 header used for left, border right used as divider */
h2{
    color: var(--text2);
    min-width: 150px;
    font-size: 30px;
    border-right: 7px groove var(--gradient2) ;
    margin: 2px 10px;
    
}

/* used to set alignment between header and content of the section */
section{
    display: flex;
}
.card{
    border: 3px groove  var(--border);
    margin: 3%;
    padding: 10px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px,1fr)); 
}
/* background image for project link cards */
#csstips{
    height: 300px;
    width: var(--gridwidth);
    margin: 25px;
    background-image: url("../images/csstips.gif");
    background-size: cover;
    background-position: center;
}
#studyguide {
    height: 300px;
    width: var(--gridwidth);
    margin: 25px;
    background-image: url("../images/studyguide.jpeg");
    background-size: cover;
    background-position: center;
}
#landing{
    height: 300px;
    width: var(--gridwidth);
    margin: 25px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
}
#horiseon{
    height: 300px;
    width: var(--gridwidth);
    margin: 25px;
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
    background-position: center;
}
#rpgsheet  {
    height: 800px;
    width: 1fr;
    margin: 25px;
    background-image: url("../images/rpgsheet.jpg");
    background-size: cover;
    background-position: center;
}

/* project link card header cards */
h3 {
    background-color: var(--border);
    border: 5px double var(--border);
    width: fit-content;
    font-size: larger;
}

/* adds additional space between paragraph elements */
p {
    padding: 5px;
}
