:root{
    /* color theme */
    --text: #8b8477;
    --text2: #ffa600;
    --background: ##003f5c;
    --border: #ffa600;
    --glow:  #ff6361;
    --gradient1: #853c0f;
    --gradient2: #58508d;
    --gradient3: #003f5c;

    /* grid dimentions */
    --gridwidth: 95%;
}

/* Body will be primary background and text formatting */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

/* all item in header are evenly spaced and centered vertically within container */
header {
    /* formating centering nested elements */
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* visuals */
    border-bottom: 15px double var(--gradient3);
    background-color: var(--gradient2);
    /* background-image: linear-gradient(
        var(--gradient1),
        var(--gradient2),
        var(--gradient3));  */
}
/* Elements within header || Potential consolidation? */
h1{
    font-size: 45px;
    color: var(--text2);
}

/* similar format to header, inversed gradiant and border */
footer{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* visuals */
    border-top: 15px double var(--gradient3);
    background-color: var(--gradient2);
    /* background-image: linear-gradient(
        var(--gradient3),
        var(--gradient2),
        var(--gradient1)); */
}
/* formating for header and footer lists */
ul{
    display: flex;
    /* flex-direction: column;      done when on phone screen*/
}
ul li {
    padding: 10px;
}
ul li a{
    font-size: 20px;
    color: var(--text2);
}

main{
    background-color: var(--gradient3);
}

/* h2 header used for left, border right used as divider */
h2{
    color: var(--text2);
    min-width: 150px;
    font-size: 30px;
    border-right: 7px groove var(--gradient2) ;
    margin: 2px 10px;
    
}

/* used to set alignment between header and content of the section */
section{
    display: flex;
}
section div{
    width: 100%;
    padding-right: 2rem;
}
.card{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: 3px groove var(--border);
    color: var(--gradient3);
    margin: 10px;
    /* flexbox for a glow tranistion on hover  |||flexbox is breaking window scroll wheel on Edge|||*/
    /* display: flex;
    flex-flow: wrap;
    flex-direction: column;
    flex: 1 0 200px; */
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(350px,auto));
    column-gap: 10px; 
}
/* background image for project link cards */
#csstips{
    background-image: url("../images/csstips.gif");
}
#studyguide {
    background-image: url("../images/studyguide.jpeg");
}
#landing{
    background-image: url("../images/landing.jpg");
}
#horiseon{
    background-image: url("../images/Movie3.jpeg");
}
#rpgsheet  {
    background-image: url("../images/rpgsheet.jpg");
}
#dndComm{
    background-image: url("../images/dndComm.jpg");
}


/* project link card header cards */
h3, h4{
    background-color: var(--border);
    border: 5px double var(--border);
    width: 225px;
    font-size: larger;
    position: relative;
    /* margin-top: -29px; */
    margin-left: 0px;
}

/* hide secondary header when NOT hovered */
h4{
   margin-top: 180px;
   transition: all 0.5s ease-in-out;
}

/* adds additional space between paragraph elements */
p {
    padding: 5px;
}
/* Modify to show sub header when hover over card */
a:hover,
a:focus{
    
}
/* Change screen format based of resolution with Media Query  */
@media screen and (max-width: 992px) {
    ul{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .grid{
        grid-template-columns: repeat(1, 100%);
    }
    ul{
        flex-direction: column;
    }
}
