:root{
    /* color theme */
    --text: rgb(218, 165, 32);
    --text2: rgb(242 242 12);
    --background: rgb(56, 56, 56);
    --border: rgb(122, 218, 32);
    --glow:  rgb(0, 236, 102);
    --gradient1:  rgb(158, 46, 29);
    --gradient2: rgb(221, 221, 17);
    --gradient3: rgb(52, 153, 160);
}

/* Body will be primary background and text formatting */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

/* all item in header are evenly spaced and centered vertically within container */
header {
    /* formating centering nested elements */
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* visuals */
    border-bottom: 15px double var(--gradient3);
    background-color: var(--gradient2);
    background-image: linear-gradient(
        var(--gradient1),
        /* var(--gradient2), */
        var(--gradient3));
}
/* Elements within header || Potential consolidation? */
h1{
    font-size: 45px;
    color: var(--text2);
}

/* similar format to header, inversed gradiant and border */
footer{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    /* visuals */
    border-top: 15px double var(--gradient3);

    background-image: linear-gradient(
        var(--gradient3),
        /* var(--gradient2), */
        var(--gradient1));
}
/* formating for header and footer lists */
ul{
    display: flex;
    /* flex-direction: column;      done when on phone screen*/
}
ul li {
    padding: 10px;
}
ul li a{
    font-size: 20px;
    color: var(--text2);
}

main{
    background-color: var(--gradient3);
}

/* h2 header used for left alignment, border right used as divider */
h2{
    min-width: 150px;
    font-size: 30px;
    border-right: 7px groove var(--gradient2) ;
    margin: 2px 10px;
    
}

/* used to set alignment between header and content of the section */
section{
    display: flex;

}

p {
    padding: 5px;
}